[defaults]

inventory = hosts/ops.ini

retry_files_enabled = False
vault-id = .vault_password
max_diff_size=1000000

deprecation_warnings=False

# SSH timeout
timeout = 60

# Gather timeout, default 10
gather_timeout=20

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -4

# Number of times to retry an SSH connection to a host, in case of UNREACHABLE.
# For each retry attempt, there is an exponential backoff,
# so after the first attempt there is 1s wait, then 2s, 4s etc. up to 30s (max).
retries = 3

pipelining=True

forks = 20

# show timing of individual tasks
callback_whitelist = timer, profile_tasks

# adds counters to the output items
# comment before fix https://github.com/ansible/ansible/issues/53907
#stdout_callback = counter_enabled

[inventory]
# ignore these extensions when parsing a directory as inventory source
ignore_extensions = ~
